@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 8;
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #999;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}
* {
  border-color: hsl(240 3.7% 15.9%);
  color: #fff;
}
.blue-border {
  border-color: hsl(210 3.7% 15.9%);
}

.glowiee {
  margin: 0 auto;
  background: radial-gradient(
    49.41% 64.58% at 49.4% 0,
    hsla(0, 0%, 100%, 0.03) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  border-top: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    transparent 0,
    hsla(0, 0%, 100%, 0.19) 30%,
    hsla(0, 0%, 100%, 0.19) 70%,
    transparent
  );
  border-image-slice: 1;
}

.art {
  @apply flex flex-col w-full max-w-3xl mx-auto;
}

.art h1 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight py-4 pb-2;
}
.art p {
  @apply text-base text-neutral-400 py-1;
}

.art a {
  @apply text-base font-medium text-neutral-300 underline underline-offset-4 hover:text-pink-500 transition-all duration-300 ease-in-out py-5;
}
.art iframe {
  @apply w-full aspect-video my-4;
}